.left-sidebar {
background: #000;
}

a {
  color: #e8f10a;
}

#tt-in{
  background: #065014;
}

#tt-out{
  background: #061450;
}

legend{
  color:#00d;
}
fieldset{
  border: 2px solid gray;
}

#twrus{
	color:#FFFF77;
}

.field_with_errors .message {
  color: #D00;
}

@-webkit-keyframes message {
  0% { color: rgb(128, 0, 0); }
  50% { color: rgb(183, 65, 14); }
  100% { color: rgb(128, 0, 0); }
}
@keyframes message {
  0% { color: rgb(128, 0, 0); }
  50% { color: rgb(183, 65, 14); }
  100% { color: rgb(128, 0, 0); }
}
@-webkit-keyframes pulsate {
 50% { color: #fff; text-shadow: 0 -2px rgba(0,0,0,.3), 0 0 10px #ffd, 0 0 15px #fff; }
}
@keyframes pulsate  {
 50% { color: #fff; text-shadow: 0 -2px rgba(0,0,0,.3), 0 0 10px #ffd, 0 0 15px #fff; }
}
.tt_status {
  color: #eee;
}

#tt_al_info{
  color:#63B8FF;
}
