@charset "utf-8";

/*
 * Reset
 */ 
*{
  margin: 0;
  padding: 0;

}
body{
  width: auto;
  font-family:Tahoma;
  font-weight:bold;
  background-color:#000;
  color:#FFF;
}
a{
  color: #ffffaa; /* Цвет ссылок */
  padding: 2px; /* Поля вокруг текста */ 
}
a:hover{
  background: #234; /* Цвет фона под ссылкой */ 
  color: #F5F103; /* Цвет ссылки */ 
}
tr:hover{
  background: #234; /* Цвет фона под ссылкой */ 
  color: #ffe; /* Цвет ссылки */
}

#tt-in{
  background: #065014;
}

#tt-out{
  background: #061450;
}

/*
a:visited{ 
  color: #999; 
  }
a:visited:after{
  content: "\00A0\221A";
  font-size: 75%;
}
*/
legend{
  color:#0FF;
  margin-left:30px;
}
fieldset{
  border: 2px solid gray;
}
p{
  margin: 5px;
}

#all {
}
.head { /* Old browsers */ /* IE9 SVG, needs conditional override of 'filter' to 'none' 
*/
	url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2I1YmRjOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM2JSIgc3RvcC1jb2xvcj0iIzgyOGM5NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyODM0M2IiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #000000 0%, #000000 45%, #000000 100%); /* 
FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, 
	color-stop(0%,100000), color-stop(36%,#300000), color-stop(100%,#600000)); /* 
Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #100000 0%,#300000 36%,#600000 100%); 
/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #000000 0%,#000000 36%,#000000 100%); /* 
Opera 11.10+ */
	background: -ms-linear-gradient(top, #000000 0%,#000000 36%,#000000 100%); /* 
IE10+ */
	background: linear-gradient(to bottom, #000000 0%,#000000 36%,#000000 100%); /* 
W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', 
	endColorstr='#28343b',GradientType=0 ); /* IE6-8 */
	dysplat:block;
	margin: 0 auto;
	text-align: center;
	padding:1px;
	z-index:100;
	width: auto;
}
#menu {
        width: auto;

}
.foot {
        padding:1px;
        margin: 0 auto;
        text-align: center;
        font: bold 20px Arial, Helvetica, sans-serif;
	width: auto;
}

