@charset "utf-8";

/*
 * Reset
 */ 
*{
  margin: 0;
  padding: 0;

}
body{
  width: 100% !important;
  max-width: 600px;
  font-family:Tahoma;
  font-weight:bold;
  background-color:#000;
  color:#FFF;
  float: none;
  -webkit-appearance: none;
}
a{
  color: #ffffaa; /* Цвет ссылок */
  padding: 2px; /* Поля вокруг текста */ 
}
a:hover{
  background: #234; /* Цвет фона под ссылкой */ 
  color: #F5F103; /* Цвет ссылки */ 
}
tr:hover{
  background: #234; /* Цвет фона под ссылкой */ 
  color: #ffe; /* Цвет ссылки */
}

#tt-in{
  background: #065014;
}

#tt-out{
  background: #061450;
}

/*
a:visited{ 
  color: #999; 
  }
a:visited:after{
  content: "\00A0\221A";
  font-size: 75%;
}
*/
legend{
  color:#0FF;
  margin-left:6px;
}
fieldset{
  border: 2px solid gray;
}
p{
  margin: 1px;
}

#all {
   float: none;
}
