@charset "utf-8";

/*
 * Reset
 */ 
*{
  margin: 0;
  padding: 0;

}
body{
  width: 100% !important;
  max-width: 600px;
  font-family:Tahoma;
  font-weight:bold;
  background-color:#000;
  color:#FFF;
  float: none;
  -webkit-appearance: none;
}

@media (max-width: 600px){
    .specifictd {    
        width:70px;  /* adjust to desired wrapping */
        display:table;
        white-space: pre-wrap; /* css-3 */
        white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
        white-space: -pre-wrap; /* Opera 4-6 */
        white-space: -o-pre-wrap; /* Opera 7 */
        word-wrap: break-word; /* Internet Explorer 5.5+ */
    }
}
a{
  color: #ffffaa; /* Цвет ссылок */
  padding: 2px; /* Поля вокруг текста */ 
}

#tt-in{
  background: #065014;
}

#tt-out{
  background: #061450;
}

/*
a:visited{ 
  color: #999; 
  }
a:visited:after{
  content: "\00A0\221A";
  font-size: 75%;
}
*/
legend{
  color:#0FF;
  margin-left:6px;
}
fieldset{
  border: 2px solid gray;
}
p{
  margin: 1px;
}

#all {
   float: none;
}

.flight-parent{
    font: bold 18px Arial, Helvetica, sans-serif;
}

.flight-child{ 
    font: bold 14px Arial, Helvetica, sans-serif;
}

TABLE.table-striped > tbody > tr:nth-child(even){
  background-color: #333;
}


TABLE.table-striped > tbody > tr:nth-child(odd){
  background-color: #111;
}
table.tablo {
    table-layout: fixed;
}

td.tablo {
    white-space: normal !important;
    vertical-align: middle;
    word-wrap: break-word;
}

.wi {
        font-size:50px;
}

