.wclock{
	min-width: 1900px;
        display: -moz-inline-stack;
        display: inline-block;
        vertical-align:top;
        margin: 0px;
        zoom: 1;
        *display: inline;
        _height: 160px;

}

.clock-section{
        float:left;
        height:150px;
        margin-left:2px;
        width:140px;
}

.analog, .digital, .title{
	position: relative;
	width: 130px;
	list-style: none;
}
.analog {
        background: url(/images/wclock/Ciferblat.png);
        background-size:cover;
}

.analog,.analog .hour,.analog .min,.analog .sec{
	height: 130px;
}
.digital{
	height: 30px;

}
.analog .hour,.analog .min,.analog .sec {
	position: absolute;
	width: 6px;
	top: 0;
	left: 60.5px;
	padding: 0;
}

.analog .sec {
	background: url(/images/wclock/sechand.png);
        background-size:cover;
	z-index: 3;
}

.analog .min {
	background: url(/images/wclock/minhand.png);
        background-size:cover;
	z-index: 2;
}

.analog .hour {
	background: url(/images/wclock/hourhand.png);
        background-size:cover;
	z-index: 1;
}

.analog .meridiem {
	margin-top: 90px;
	font-size: 11px;
	font-weight: bold;
	display: inline-block;
}
.title {
	font-size:12px;
	font-weight:bold;
}

