@charset "utf-8";
/* CSS Document */
.сlock-msk, .сlock-utc {
	position: relative;
	height: 100px;
	width: 100px;
	margin-right: auto;
	margin-left: auto;
}
.ciferblat-msk, .ciferblat-utc {
	position: absolute;
}
.hour-msk, .hour-utc {
	position: absolute;
	z-index: 20;
}
.sekond-msk, .sekond-utc {
	position: absolute;
	z-index: 30;
	
}
.minute-msk, .minute-utc {
	position: absolute;
	z-index: 10;
}
