@charset "utf-8";

/* Header
-----------------------------------------------------------------------------*/
.header {
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI3MiUiIHN0b3AtY29sb3I9IiNmZmU2ODAiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmVmY2VhIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
background: -moz-linear-gradient(top,  #006400 72%, #2F600B 100%); /* FF3.6+ *
/
background: -webkit-gradient(linear, left top, left bottom, color-stop(72%,#006400), color-stop(100%,#F7F1DF)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #006400 72%, #2F600B 100%); /* Chrome
10+,Safari5.1+ */
background: -o-linear-gradient(top,  #006400 72%, #2F600B 100%); /* Opera 11.10
+ */
background: -ms-linear-gradient(top,  #006400 72%, #2F600B 100%); /* IE10+ */
background: linear-gradient(to bottom,  #006400 72%,#2F600B 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006400', endColorstr='#2F600B',GradientType=0 ); /* IE6-8 */
}

/* Footer
-----------------------------------------------------------------------------*/
.footer {
	background: #2F600B;
}

.login-submit, .login-submit:before, .login-submit:after {
  background: #000001;
}

body, .x-body {
  color: #E6FADF;
  background: #2F600B;
}

a {
  color: #DFD789;
}
a:hover, a:focus {
  color: #fff;
}
tr:hover{
  background: #204605;
  color: #fff;
}

#tt-in{
  background: #065014;
}

#tt-out{
  background: #061450;
}

legend{
  color:#04ADF5;
}
fieldset{
  border: 2px solid gray;
}

#twrus{
	color:#FFFF77;
}

.field_with_errors .message {
  color: #D00;
}

@-webkit-keyframes message {
  0% { color: rgb(128, 0, 0); }
  50% { color: rgb(183, 65, 14); }
  100% { color: rgb(128, 0, 0); }
}
@keyframes message {
  0% { color: rgb(128, 0, 0); }
  50% { color: rgb(183, 65, 14); }
  100% { color: rgb(128, 0, 0); }
}
@-webkit-keyframes pulsate {
 50% { color: #fff; text-shadow: 0 -2px rgba(0,0,0,.3), 0 0 10px #ffd, 0 0 15px #fff; }
}
@keyframes pulsate  {
 50% { color: #fff; text-shadow: 0 -2px rgba(0,0,0,.3), 0 0 10px #ffd, 0 0 15px #fff; }
}
.tt_status {
  color: #eee;
}

#tt_al_info{
  color:#63B8FF;
}