    <h3>Users</h3>
    <div class="column">
      <table class="table">
	    <thead><tr>
                  <th>User Avatar</th>
		  <th>User Login</th>
		  <th>User Email</th>
		  <th>Created At</th>
		  <th>Last LogIn At</th>
		  <th>User Role</th>
		  <th></th>
		</tr></thead>
              <%= render "users/user" %>
      </table>
    </div>
<% if policy(@users).new? %>
  <%=link_to "Add new user", new_user_path, class: "jqbutton"%>
<%end%>
