.analog {
	position: relative;
	width: 110px;
	margin: auto;
	background: url(/images/wclock/Ciferblat.png);
        background-size:cover;
	list-style: none;
}

.analog,.analog .hour,.analog .min,.analog .sec {
	height: 110px;
}

.analog .hour,.analog .min,.analog .sec {
	position: absolute;
	width: 5px;
	top: 0;
	left: 50.5px;
	padding: 0;
}

.analog .sec {
	background: url(/images/wclock/sechand.png);
        background-size:cover;
	z-index: 3;
}

.analog .min {
	background: url(/images/wclock/minhand.png);
        background-size:cover;
	z-index: 2;
}

.analog .hour {
	background: url(/images/wclock/hourhand.png);
        background-size:cover;
	z-index: 1;
}

.analog .meridiem {
	margin-top: 90px;
	font-size: 11px;
	font-weight: bold;
	display: inline-block;
}
