table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
bottom: .5em;
}

body {
     padding-top: 90px;
     padding-bottom: 40px;
     height: 100%;
     width:100%;
}
  .container{
    margin: 1% 1% 1% 1% !important
}

.sidebar-nav {
     padding: 3px 1px;
}

@media (max-width: 980px) {
/* Enable use of floated navbar text */
    .navbar-text.pull-right {
    float: none;
    padding-left: 5px;
    padding-right: 5px;
    }
    .specifictd {    
        width:360px;  /* adjust to desired wrapping */
        display:table;
        white-space: pre-wrap; /* css-3 */
        white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
        white-space: -pre-wrap; /* Opera 4-6 */
        white-space: -o-pre-wrap; /* Opera 7 */
        word-wrap: break-word; /* Internet Explorer 5.5+ */
    }
}
#aprus {
        font: bold 20px Arial, Helvetica, sans-serif;
}

#twrus{
        font: bold 34px Arial, Helvetica, sans-serif;
}

#tt_time{
        vertical-align: middle;
        text-align: center;
        font: bold 22px Arial, Helvetica, sans-serif;
}

#tt_flight{
        vertical-align: middle;
        text-align: center;
}

#flight_info{
    vertical-align: bottom;
}
#tt_al_info{
    font: 14px Arial, Helvetica, sans-serif;
}
#tt_status{
    vertical-align: middle;
}

.flight-parent{
    font: bold 18px Arial, Helvetica, sans-serif;
}

.flight-child{ 
    font: bold 14px Arial, Helvetica, sans-serif;
}


.marginBottom-0 {margin-bottom:0;}

.dropdown-submenu{
	position:relative;
}
.dropdown-submenu>.dropdown-menu{
	top:0;
	left:100%;
	margin-top:-6px;
	margin-left:-2px;
	-webkit-border-radius:0 6px 6px 6px;
	-moz-border-radius:0 6px 6px 6px;
	border-radius:0 6px 6px 6px;
}
.dropdown-submenu>a:after{
	display:block;
	content:" ";
	float:right;
	width:0;
	height:0;
	border-color:transparent;
	border-style:solid;
	border-width:5px 0 5px 5px;
	border-left-color:#cccccc;
	margin-top:5px;
	margin-right:-15px;
}
.dropdown-submenu:hover>a:after{
	border-left-color:#555;
}
.dropdown-submenu.pull-left{
	position:relative;
}
.dropdown-submenu.pull-left>.dropdown-menu{
        top:0;
        left:-160%;
        margin-top:-6px;
	margin-right:-2px;
	-webkit-border-radius:6px 0 6px 6px;
	-moz-border-radius:6px 0 6px 6px;
	border-radius:6px 0 6px 6px;
}
.dropdown-submenu.pull-left>a:after{
        display:block;
        content:" ";
        float:left;
        width:0;
        height:0;
        border-color:transparent;
        border-style:solid;
        border-width:5px 5px 5px 0;
        border-right-color:#cccccc;
        margin-top:5px;
        margin-left:-15px;
}
.dropdown-submenu.pull-left:hover>a:after{
        border-right-color:#555;
}
.wi-table {
	font-size:50px;
}

.wi-show {
        font-size:70px;
}

.btn-tt {
	display: block;
	padding: 0px;
	margin: 0;
	border: 1px solid #000;
	border-radius: 15px;
}

.btn-tt span.text {
    padding: 2px;
}
