@charset "utf-8";
*{
  margin: 0;
  padding: 0;
}
element.style{
	margin-left:710px;
}

html {
	height: 100%;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

#all {
	min-width: 1700px;
	max-width: 1900px;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}


/* Header
-----------------------------------------------------------------------------*/
.header {
	height: 270px;
        margin: 0 auto;
        text-align: center;
        padding:1px;
        z-index:100;

/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI3MiUiIHN0b3AtY29sb3I9IiNmZmU2ODAiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmVmY2VhIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
background: -moz-linear-gradient(top,  #ffe680 72%, #F7F1DF 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(72%,#ffe680), color-stop(100%,#F7F1DF)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffe680 72%,#F7F1DF 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffe680 72%,#F7F1DF 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffe680 72%,#F7F1DF 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffe680 72%,#F7F1DF 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffe680', endColorstr='#F7F1DF',GradientType=0 ); /* IE6-8 */
}

/* Middle
-----------------------------------------------------------------------------*/
.middle {
	width: 100%;
	padding: 0 0 100px;
	position: relative;
}
.middle:after {
	display: table;
	clear: both;
	content: '';
}
.container {
	width: 100%;
	float: left;
	overflow: hidden;
}
.content {
	padding: 0 0 0 320px;
}


/* Left Sidebar
-----------------------------------------------------------------------------*/
.left-sidebar {
	float: left;
	width: 300px;
	margin-left: -100%;
	position: relative;
}


/* Footer
-----------------------------------------------------------------------------*/
.footer {
	margin: -80px auto 0;
	min-width: 1700px;
	max-width: 1900px;
	height: 200px;
	color: #E6CD7C;
	position: relative;
	text-align: center;
	vertical-align:bottom;
	padding-top:120px;
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlZmNlYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI4JSIgc3RvcC1jb2xvcj0iIzVmMzYxMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(top,  #F7F1DF 0%, #5f3611 43%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F7F1DF), color-stop(43%,#5f3611)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #F7F1DF 0%,#5f3611 43%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #F7F1DF 0%,#5f3611 43%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #F7F1DF 0%,#5f3611 43%); /* IE10+ */
background: linear-gradient(to bottom,  #F7F1DF 0%,#5f3611 43%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#F7F1DF', endColorstr='#5f3611',GradientType=0 ); /* IE6-8 */
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.login-submit, .login-submit:before, .login-submit:after {
  background: #000001;
}

body, .x-body {
  font: 18px/30px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #500;
  background: #F7F1DF;
  height: 100%;
  line-height: 1.5;
}

a {
  color: #f20;
  text-decoration: none;
  padding: 2px;
}
a:hover, a:focus {
  text-decoration: underline;
  color: #500;
}
h1,h2,h3,h4,h5,h6{
	text-align:center;
}
tr:hover{
  background: #F5D87A;
  color: #000;
}

#tt-in{
  background: #065014;
}

#tt-out{
  background: #061450;
}

legend{
  color:#500;
  margin-left:30px;
}
fieldset{
  border: 2px solid gray;
}

}
.clear {
	clear:both;
}

#aprus {
	margin-left: 45px;
	text-align: left;
	font: bold 12px Arial, Helvetica, sans-serif;
}

#twrus{
   	font: bold 30px Arial, Helvetica, sans-serif;
	color:#700;
}

#tt_time{
    vertical-align:middle;
	text-align: center;
}

#flight_info{
    vertical-align:bottom;
}
.tablo td{
    height:90px;
}

.al_info, .userpage{
	width: 760px;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align:top;
	margin: 5px;
	zoom: 1;
	*display: inline;
	_height: 350px;
}
.al_info_section, .userpage-section{
        float:left;
        height:340px;
        margin-left:30px;
        width:350px;
}
.al_tt{
	display: block;
}
b {
	font: bold 20px Arial, Helvetica, sans-serif;
}
h1 {
	font: bold 36px Arial, Helvetica, sans-serif;
}
h2 {
        font: bold 32px Arial, Helvetica, sans-serif;
}

h3 {
        font: bold 28px Arial, Helvetica, sans-serif;
}
h4 {
        font: bold 26px Arial, Helvetica, sans-serif;
}
h5 {
        font: bold 24px Arial, Helvetica, sans-serif;
}
h6 {
        font: bold 22px Arial, Helvetica, sans-serif;
}
.field_with_errors {
  display: inline;
}

.field_with_errors .message {
  float: center;
  color: #D00;
  padding-left: 5px;
  font: bold 19px Arial, Helvetica, sans-serif;
  text-align: right;
  -webkit-animation: message .2s linear infinite;
  animation: message .2s linear infinite;
  z-index: 200;
}

@-webkit-keyframes message {
  0% { color: rgb(128, 0, 0); }
  50% { color: rgb(183, 65, 14); }
  100% { color: rgb(128, 0, 0); }
}
@keyframes message {
  0% { color: rgb(128, 0, 0); }
  50% { color: rgb(183, 65, 14); }
  100% { color: rgb(128, 0, 0); }
}
@-webkit-keyframes pulsate {
 50% { color: #fff; text-shadow: 0 -2px rgba(0,0,0,.3), 0 0 10px #ffd, 0 0 15px #fff; }
}
@keyframes pulsate  {
 50% { color: #fff; text-shadow: 0 -2px rgba(0,0,0,.3), 0 0 10px #ffd, 0 0 15px #fff; }
}
.tt_status {
  color: #eee;
  text-shadow: 0 -2px rgba(0,0,0,.1);
  -webkit-animation: pulsate 0.5s linear infinite;
  animation: pulsate 0.5s linear infinite;
  font-size: 26px;
  width: 40px;
  text-align: center;
  vertical-align:middle;
}

#tt_al_info{
  margin-top:20px;
  font: bold 12px Arial, Helvetica, sans-serif;
  color:#30A7FF;
  font-style: italic;
}

select {
  width: 200px;
}
.select_overflow {
  height: 200px;
}
input[type=checkbox] {
  margin-top: 2em; 
}
.menu-top{
		margin-top: 50px;
}
.field-form {
	width: 1400px;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align:top;
	margin: auto;
	zoom: 1;
	*display: inline;
	_height: 900px;
}
.field-form-section{
        float:left;
        height:900px;
		width: 680px;
}
.field{
		margin-bottom: 15px;
}
