@charset "utf-8";

.apple_pagination {
  background: $body-bg;
  border: 1px solid #79a;
  text-align: center;
  padding: 0.3em;
  cursor: default;

  a, span {
    padding: 0.2em 0.3em;
  }

  .disabled {
    color: $pagination-disabled-color;
    background-color: $pagination-disabled-bg;
  }

  .current {
    font-style: normal;
    font-weight: bold;
    background-color: $pagination-active-bg;
    display: inline-block;
    width: 2em;
    height: 2em;
    line-height: 1.5;
    -moz-border-radius: 5em;
    -webkit-border-radius: 5em;
    border-radius: 5em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px;
  }

  a {
    text-decoration: none;

    &:hover, &:focus {
      text-decoration: underline;
    }

    &:hover#pages, &:focus#pages {
      font-style: normal;
      font-weight: bold;
      display: inline-block;
      width: 1.3em;
      height: 1.3em;
      line-height: 1.2;
      -moz-border-radius: 1em;
      -webkit-border-radius: 1em;
      border-radius: 1em;
      text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px;
    }
  }
}

.page_info {
  background: $pagination-active-bg;
  color: $pagination-active-color;
  padding: 0.4em 0.6em;
  width: 22em;
  margin-bottom: 0.3em;
  text-align: center;

  b {
    padding: 0.1em 0.25em;
  }
}
