<h2><%=@tablo %></h2>
<div id="tda">
<table id="tt" class="tablesorter">
<thead>
  <tr>
    <th>Рейс</th>
    <th>Направление</th>
    <th>Время</th>
    <th>Статус</th>
  </tr>
</thead>
<tbody>
  <%=render "airports/tablo"%>
<tbody>
</table>
</div>
