@charset "utf-8";

/*
 * Reset
 */

table.dataTable thead {
  .sorting {
    &:after, &:before {
      bottom: .5em;
    }
  }

  .sorting_asc {
    &:after, &:before {
      bottom: .5em;
    }
  }

  .sorting_asc_disabled {
    &:after, &:before {
      bottom: .5em;
    }
  }

  .sorting_desc {
    &:after, &:before {
      bottom: .5em;
    }
  }

  .sorting_desc_disabled {
    &:after, &:before {
      bottom: .5em;
    }
  }
}

@media only screen and (max-width: 800px) {
  #unseen table {
    td:nth-child(2), th:nth-child(2) {
      display: none;
    }
  }
}

@media (max-width: 680px) {
  #unseen table {
    td:nth-child(4), th:nth-child(4), td:nth-child(7), th:nth-child(7), td:nth-child(8), th:nth-child(8) {
      display: none;
    }
  }

  .specifictd {
    width: 52px;

    /* adjust to desired wrapping */
    display: table;
    white-space: pre-wrap;

    /* css-3 */
    white-space: -moz-pre-wrap;

    /* Mozilla, since 1999 */
    white-space: -pre-wrap;

    /* Opera 4-6 */
    white-space: -o-pre-wrap;

    /* Opera 7 */
    word-wrap: break-word;

    /* Internet Explorer 5.5+ */
  }
}

a {
  padding: 2px;
}

#tt-in {
  background: #065014;
}

#tt-out {
  background: #061450;
}

legend {
  color: #0FF;
  margin-left: 6px;
}

fieldset {
  border: 2px solid gray;
}

p {
  margin: 1px;
}

#all {
  float: none;
}

.flight-parent {
  font: bold 18px Arial, Helvetica, sans-serif;
}

.flight-child {
  font: bold 14px Arial, Helvetica, sans-serif;
}

td.tablo {
  white-space: normal !important;
  vertical-align: middle;
  word-wrap: break-word;
}

.wi-table {
  font-size: 50px;
}

.wi-show {
  font-size: 60px;
}

.btn-tt {
  display: block;
  padding: 0px;
  margin: 0;
  border: 1px solid #000;
  border-radius: 15px;

  span.text {
    padding: 2px;
  }
}
