input[type=text], input[type=password], input[type=email], input[type=number] {
  color: #e0e0e0;
  background: #2b2929;
}
input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=number]:focus {
  color: #ccc;
  background: #111;
}

.lt-ie9 input[type=text], .lt-ie9 input[type=password] {
  background: #282828;
}
.lt-ie9 .about {
  background: #313131;
}
