%h1 Города
= netzke :towns,                                                             |
  #  :class_name => "Netzke::Basepack::Grid",                                |
  :border => true,                                                           |
  :header => false,                                                          |
  :view_config => {                                                          |
    :force_fit => true # force the columns to occupy all the available width |
  }                                                                          |
