<footer id="footer" class="footer">
      <p>This a Desktop Version</p>
      <p><%#= link_to "Mobile Version", session[:mobile_view]%></p>
      <p>Страница загружена за <%= Benchmark.ms { yield } %> сек </p>
      <p>&copy; 2011 - <%= Date.current.year%></p>
      <p>Единый Информационный Центр v2.6 release from 15-07-2015</p>
      <p><a href=mailto:glafir@bk.ru>Напишите нам!!!</a></p>
</footer>
