.raw
  .col-lg-4.col-md-4
    %li This a Desktop Version
    %li Страница загружена за #{Benchmark.ms { yield }} сек
  .col-lg-4.col-md-4
    %li © 2011 - #{Date.current.year}
    %li v3.3.1 release from 02-04-2016
  .col-lg-4.col-md-4
    %li ICQ: 277823912
    %li Skype: glafir777
.raw
  .col-lg-12.col-md-12
    %li
      %a{:href => "mailto:glafir@ya.ru"} Напишите нам!!!

