  <footer id="footer" class="footer">
      <p>This a Mobile Version</p>
      <p><%#= link_to "Desktop Version", , session[:html_view] => false%></p>
      <p>Страница загружена за <%= Benchmark.ms { yield } %> сек </p>
      <p>&copy; 2011 - <%= Date.current.year%></p>
      <p>Единый Информационный Центр <br /> v2.5 release from 13-07-2015</p>
      <p><a href=mailto:glafir@bk.ru>Напишите нам!!!</a></p>
  </footer>
