.raw
  .col-lg-5.col-md-5
    %li This a Mobile Version
    %li Страница загружена за #{Benchmark.ms { yield }} сек
  .col-lg-5.col-md-5
    %li © 2011 - #{Date.current.year}
    %li v3.2.0 release from 09-01-2016
.raw
  .col-lg-12.col-md-12
    %li
      %a{:href => "mailto:glafir@bk.ru"} Напишите нам!!!

