  <div id="foot" class="foot">
      <p>This a Desktop Version</p>
      <p><%#= session%></p>
      <p><%=link_to "Mobile Version", session[:mobile_view]%></p>
      <p>Страница загружена за <%= Benchmark.ms { yield } %> сек </p>
      <p>&copy; 2011 - <%= Date.current.year%></p>
      <p>Единый Информационный Центр v.1.2.0 release from 01-06-2015</p>
      <p><a href=mailto:glafir@bk.ru>Напишите нам!!!</a></p>
  </div>
