- mem = GetProcessMem.new

.raw
  .col-lg-5.col-md-5
    %li This a Mobile Version
    %li Страница загружена за #{Benchmark.ms { yield }} сек
    %li Использовано памяти: #{mem.mb} МБ

  .col-lg-5.col-md-5
    %li © 2011 - #{Date.current.year}
    %li v4.9.9 rc5 release from 02-04-2018
.raw
  .col-lg-12.col-md-12
    %li
      %a{:href => "mailto:glafir@ya.ru"} Напишите нам!!!
    %li ICQ: 277823912
    %li Skype: glafir777

