- mem = GetProcessMem.new
%hr
.col-12.col-md-7
  %li This a Desktop Version
  %li Страница загружена за #{Benchmark.ms { yield }} сек
  %li Использовано памяти: #{mem.mb} МБ
.col-12.col-md-5
  %li © 2011 - #{Date.current.year}
  %li v5.3 release from 15-06-2022
.w-100
.col-12.col-md-7
  %li ICQ: 277823912
  %li Skype: glafir777
.col-12.col-md-5
  %li
    %a{:href => "mailto:glafir@ya.ru"} Напишите нам!!!
