  <div id="foot" class="foot">
      <p>Страница загружена за <%= Benchmark.ms { yield } %> сек </p>
      <p>&copy; 2011 - <%= Date.current.year%>  Единый Информационный Центр v.1.0 release from 18-03-2015 <a href=mailto:glafir@bk.ru>Напишите нам!!!</a></p>
  </div>
