<div class="menu-top">
  <a class="jqbutton" href="/general/rw">ЖД</a>
  <%= link_to 'Авитранспорт', countries_path, data: { keybinding: 'ctrl+alt+a' }, class: "jqbutton"%>
  <a class="jqbutton" href="/general/help">Справка</a>
  <%= link_to 'Выйти', destroy_user_session_path, class: "jqbutton", confirm: 'Are you sure?', :method => :delete %>
</div>
