<!--bottom dock -->
<div class="dock" id="dock2">
  <div class="dock-container2">
          <a class="dock-item2" href="#"><span></span><img src="http://img.bagche.ru/bagira/100MEDIA/IMAG0003.jpg" alt="" /></a>
          <a class="dock-item2" href="#"><span></span><img src="http://img.bagche.ru/bagira/100MEDIA/IMAG0004.jpg" alt="" /></a>
          <a class="dock-item2" href="#"><span></span><img src="http://img.bagche.ru/bagira/100MEDIA/IMAG0022.jpg" alt="" /></a>
          <a class="dock-item2" href="#"><span></span><img src="http://img.bagche.ru/bagira/100MEDIA/IMAG0035.jpg" alt="" /></a>
          <a class="dock-item2" href="#"><span></span><img src="http://img.bagche.ru/bagira/100MEDIA/IMAG0025.jpg" alt="" /></a>
          <a class="dock-item2" href="#"><span></span><img src="http://img.bagche.ru/bagira/100MEDIA/IMAG0026.jpg" alt="" /></a>
          <a class="dock-item2" href="#"><span></span><img src="http://img.bagche.ru/bagira/100MEDIA/IMAG0029.jpg" alt="" /></a>
          <a class="dock-item2" href="#"><span></span><img src="http://img.bagche.ru/bagira/100MEDIA/IMAG0031.jpg" alt="" /></a>
          <a class="dock-item2" href="#"><span></span><img src="http://img.bagche.ru/bagira/100MEDIA/IMAG0033.jpg" alt="" /></a>
          <a class="dock-item2" href="#"><span></span><img src="http://img.bagche.ru/bagira/100MEDIA/IMAG0032.jpg" alt="" /></a>
  </div>
</div>
