Главное меню.<br />
<===<a href="/general/rw">ЖД</a> ||
<%= link_to 'Авитранспорт', countries_path, data: { keybinding: 'ctrl+alt+a' }%> ||
<a href="/general/help">Справка</a> ||
  <%= link_to 'Выйти', destroy_user_session_path %> || ===>

