= form_tag '#',:method => :get, remote: false do
  = label_tag "Отобразить на странице:"
  = select_tag :limit, options_for_select([10, 15, 20, 30, 40, 50, 75, 100, 150, 200, 500, 750, 1000], selected: params[:limit] || params[:limit]), :onchange => "this.form.submit();"
  = label_tag "элементов"
