<script type="text/javascript">
jQuery(document).ready(function(){
   $('#analog-clock-utc').clock({offset: '0', type: 'analog'});
   $('#analog-clock-eu').clock({offset: '+1', type: 'analog'});
   $('#analog-clock-msk').clock({offset: '+3', type: 'analog'});
   $('#analog-clock-nsb').clock({offset: '+6', type: 'analog'});
   $('#analog-clock-jap').clock({offset: '+9', type: 'analog'});
   $('#analog-clock-ykt').clock({offset: '+9', type: 'analog'});
   $('#analog-clock-ezh').clock({offset: '+10', type: 'analog'});
   $('#analog-clock-sah').clock({offset: '+11', type: 'analog'});
   $('#analog-clock-kam').clock({offset: '+12', type: 'analog'});
   $('#analog-clock-and').clock({offset: '+13', type: 'analog'});
   $('#analog-clock-nyr').clock({offset: '-4', type: 'analog'});
   $('#analog-clock-las').clock({offset: '-7', type: 'analog'});

   $('#digital-clock-utc').clock({offset: '0', type: 'digital'});
   $('#digital-clock-eu').clock({offset: '+1', type: 'digital'});
   $('#digital-clock-msk').clock({offset: '+3', type: 'digital'});
   $('#digital-clock-nsb').clock({offset: '+6', type: 'digital'});
   $('#digital-clock-jap').clock({offset: '+9', type: 'digital'});
   $('#digital-clock-ykt').clock({offset: '+9', type: 'digital'});
   $('#digital-clock-ezh').clock({offset: '+10', type: 'digital'});
   $('#digital-clock-sah').clock({offset: '+11', type: 'digital'});
   $('#digital-clock-kam').clock({offset: '+12', type: 'digital'});
   $('#digital-clock-and').clock({offset: '+13', type: 'digital'});
   $('#digital-clock-nyr').clock({offset: '-4', type: 'digital'});
   $('#digital-clock-las').clock({offset: '-7', type: 'digital'});
});
</script>

<div id="wclock" class="wclock">
<div class="clock-utc clock-section">
  <ul id="analog-clock-utc" class="analog">
    <li class="hour"></li>
    <li class="min"></li>
    <li class="sec"></li>
    <li class="meridiem"></li>
  </ul>
    <div id="digital-clock-utc" class="digital">
      <span class="hour"></span>
      <span class="min"></span>
      <span class="sec"></span>
      <span class="meridiem"></span>
    </div>
  <div class="title">UTC (0)</div>
</div>

<div class="clock-eu clock-section">
  <ul id="analog-clock-eu" class="analog">
    <li class="hour"></li>
    <li class="min"></li>
    <li class="sec"></li>
    <li class="meridiem"></li>
  </ul>
    <div id="digital-clock-eu" class="digital">
      <span class="hour"></span>
      <span class="min"></span>
      <span class="sec"></span>
      <span class="meridiem"></span>
    </div>
  <div class="title">Брюссель (UTC+1)</div>
</div>

<div class="clock-msk clock-section">
  <ul id="analog-clock-msk" class="analog">
    <li class="hour"></li>
    <li class="min"></li>
    <li class="sec"></li>
    <li class="meridiem"></li>
  </ul>
    <div id="digital-clock-msk" class="digital">
      <span class="hour"></span>
      <span class="min"></span>
      <span class="sec"></span>
      <span class="meridiem"></span>
    </div>
  <div class="title">Москва (UTC+3)</div>
</div>

<div class="clock-nsb clock-section">
  <ul id="analog-clock-nsb" class="analog">
    <li class="hour"></li>
    <li class="min"></li>
    <li class="sec"></li>
    <li class="meridiem"></li>
  </ul>
    <div id="digital-clock-nsb" class="digital">
      <span class="hour"></span>
      <span class="min"></span>
      <span class="sec"></span>
      <span class="meridiem"></span>
    </div>
  <div class="title">Новосибирск (UTC+6)</div>
</div>

<div class="clock-jap clock-section">
  <ul id="analog-clock-jap" class="analog">
    <li class="hour"></li>
    <li class="min"></li>
    <li class="sec"></li>
    <li class="meridiem"></li>
  </ul>
    <div id="digital-clock-jap" class="digital">
      <span class="hour"></span>
      <span class="min"></span>
      <span class="sec"></span>
      <span class="meridiem"></span>
    </div>
  <div class="title">Токио (UTC+9)</div>
</div>

<div class="clock-ykt clock-section">
  <ul id="analog-clock-ykt" class="analog">
    <li class="hour"></li>
    <li class="min"></li>
    <li class="sec"></li>
    <li class="meridiem"></li>
  </ul>
    <div id="digital-clock-ykt" class="digital">
      <span class="hour"></span>
      <span class="min"></span>
      <span class="sec"></span>
      <span class="meridiem"></span>
    </div>
  <div class="title">Якутск (UTC+9)</div>
</div>

<div class="clock-ezh clock-section">
  <ul id="analog-clock-ezh" class="analog">
    <li class="hour"></li>
    <li class="min"></li>
    <li class="sec"></li>
    <li class="meridiem"></li>
  </ul>
    <div id="digital-clock-ezh" class="digital">
      <span class="hour"></span>
      <span class="min"></span>
      <span class="sec"></span>
      <span class="meridiem"></span>
    </div>
  <div class="title">Ежинск (UTC+10)</div>
</div>

<div class="clock-sah clock-section">
  <ul id="analog-clock-sah" class="analog">
    <li class="hour"></li>
    <li class="min"></li>
    <li class="sec"></li>
    <li class="meridiem"></li>
  </ul>
    <div id="digital-clock-sah" class="digital">
      <span class="hour"></span>
      <span class="min"></span>
      <span class="sec"></span>
      <span class="meridiem"></span>
    </div>
  <div class="title">Сахалин и Курилы (UTC+11)</div>
</div>

<div class="clock-kam clock-section">
  <ul id="analog-clock-kam" class="analog">
    <li class="hour"></li>
    <li class="min"></li>
    <li class="sec"></li>
    <li class="meridiem"></li>
  </ul>
    <div id="digital-clock-kam" class="digital">
      <span class="hour"></span>
      <span class="min"></span>
      <span class="sec"></span>
      <span class="meridiem"></span>
    </div>
  <div class="title">Камчатка (UTC+12)</div>
</div>

<div class="clock-and clock-section">
  <ul id="analog-clock-and" class="analog">
    <li class="hour"></li>
    <li class="min"></li>
    <li class="sec"></li>
    <li class="meridiem"></li>
  </ul>
    <div id="digital-clock-and" class="digital">
      <span class="hour"></span>
      <span class="min"></span>
      <span class="sec"></span>
      <span class="meridiem"></span>
    </div>
  <div class="title">Анадырь (UTC+10)</div>
</div>

<div class="clock-nyr clock-section">
  <ul id="analog-clock-nyr" class="analog">
    <li class="hour"></li>
    <li class="min"></li>
    <li class="sec"></li>
    <li class="meridiem"></li>
  </ul>
    <div id="digital-clock-nyr" class="digital">
      <span class="hour"></span>
      <span class="min"></span>
      <span class="sec"></span>
      <span class="meridiem"></span>
    </div>
  <div class="title">Нью-Йорк (UTC-4)</div>
</div>

<div class="clock-las clock-section">
  <ul id="analog-clock-las" class="analog">
    <li class="hour"></li>
    <li class="min"></li>
    <li class="sec"></li>
    <li class="meridiem"></li>
  </ul>
    <div id="digital-clock-las" class="digital">
      <span class="hour"></span>
      <span class="min"></span>
      <span class="sec"></span>
      <span class="meridiem"></span>
    </div>
  <div class="title">Лос Анжелес (UTC-7)</div>
</div>
</div>

