<script type="text/javascript">
 $(document).ready(function() {
   $('#analog-clock-utc').clock({offset: '0', type: 'analog'});
   $('#analog-clock-eu').clock({offset: '+1', type: 'analog'});
   $('#analog-clock-msk').clock({offset: '+3', type: 'analog'});
   $('#analog-clock-nsb').clock({offset: '+6', type: 'analog'});
   $('#analog-clock-jap').clock({offset: '+9', type: 'analog'});
   $('#analog-clock-ezh').clock({offset: '+10', type: 'analog'});


   $('#digital-clock-utc').clock({offset: '0', type: 'digital'});
   $('#digital-clock-eu').clock({offset: '+1', type: 'digital'});
   $('#digital-clock-msk').clock({offset: '+3', type: 'digital'});
   $('#digital-clock-nsb').clock({offset: '+6', type: 'digital'});
   $('#digital-clock-jap').clock({offset: '+9', type: 'digital'});
   $('#digital-clock-ezh').clock({offset: '+10', type: 'digital'});
 });
</script>

<hr>
<hr>
<hr>

<div style="text-align: center;">
  <ul id="analog-clock-utc" class="analog">
    <li class="hour"></li>
    <li class="min"></li>
    <li class="sec"></li>
    <li class="meridiem"></li>
  </ul>
  <div style="text-align: center;">
    <div id="digital-clock-utc" class="digital">
      <span class="hour"></span>
      <span class="min"></span>
      <span class="sec"></span>
      <span class="meridiem"></span>
    </div>
  </div>
  <span class="title">UTC (0)</span>
</div>

<hr>
<hr>

<div style="text-align: center;">
  <ul id="analog-clock-eu" class="analog">
    <li class="hour"></li>
    <li class="min"></li>
    <li class="sec"></li>
    <li class="meridiem"></li>
  </ul>
  <div style="text-align: center;">
    <div id="digital-clock-eu" class="digital">
      <span class="hour"></span>
      <span class="min"></span>
      <span class="sec"></span>
      <span class="meridiem"></span>
    </div>
  </div>
  <span class="title">Брюссель (UTC+1)</span>
</div>

<hr>
<hr>

<div style="text-align: center;">
  <ul id="analog-clock-msk" class="analog">
    <li class="hour"></li>
    <li class="min"></li>
    <li class="sec"></li>
    <li class="meridiem"></li>
  </ul>
  <div style="text-align: center;">
    <div id="digital-clock-msk" class="digital">
      <span class="hour"></span>
      <span class="min"></span>
      <span class="sec"></span>
      <span class="meridiem"></span>
    </div>
  </div>
  <span class="title">Москва (UTC+3)</span>
</div>

<hr>
<hr>

<div style="text-align: center;">
  <ul id="analog-clock-nsb" class="analog">
    <li class="hour"></li>
    <li class="min"></li>
    <li class="sec"></li>
    <li class="meridiem"></li>
  </ul>
  <div style="text-align: center;">
    <div id="digital-clock-nsb" class="digital">
      <span class="hour"></span>
      <span class="min"></span>
      <span class="sec"></span>
      <span class="meridiem"></span>
    </div>
  </div>
  <span class="title">Новосибирск (UTC+6)</span>
</div>

<hr>
<hr>

<div style="text-align: center;">
  <ul id="analog-clock-jap" class="analog">
    <li class="hour"></li>
    <li class="min"></li>
    <li class="sec"></li>
    <li class="meridiem"></li>
  </ul>
  <div style="text-align: center;">
    <div id="digital-clock-jap" class="digital">
      <span class="hour"></span>
      <span class="min"></span>
      <span class="sec"></span>
      <span class="meridiem"></span>
    </div>
  </div>
  <span class="title">Токио (UTC+9)</span>
</div>

<hr>
<hr>


<div style="text-align: center;">
  <ul id="analog-clock-ezh" class="analog">
    <li class="hour"></li>
    <li class="min"></li>
    <li class="sec"></li>
    <li class="meridiem"></li>
  </ul>
  <div style="text-align: center;">
    <div id="digital-clock-ezh" class="digital">
      <span class="hour"></span>
      <span class="min"></span>
      <span class="sec"></span>
      <span class="meridiem"></span>
    </div>
  </div>
  <span class="title">Ежинск (UTC+10)</span>
</div>

<hr>
<hr>

<hr>

