<!DOCTYPE html>
<html>
  <%= render "layouts/head" %>
  <body>
    <div id="all">
    <% if user_signed_in? %>
      <%=render "layouts/header"%>
      <%=render "layouts/container"%>
    <%else%>
      <%= yield %>
    <%end%>
    </div>
  </body>
</html>
