<!DOCTYPE html>
<html>
  <head>
    <%if user_signed_in? && current_user.admin?%>
      <%= load_netzke theme: "aria"%>
    <%end%>
    <%= render "layouts/head" %>
  </head>
<body>
  <%= yield %>
</body>
</html>
